name: CI

on:
  push:
    branches: [ main ]
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'scripts/check.sh'
      - 'scripts/apple-cdn-speedtest.sh'
      - 'scripts/apple-cdn-speedtest_test.sh'
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'scripts/check.sh'
      - 'scripts/apple-cdn-speedtest.sh'
      - 'scripts/apple-cdn-speedtest_test.sh'

permissions:
  contents: read

jobs:
  check:
    strategy:
      matrix:
        go-version: ['stable', 'oldstable']
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Quality checks
        run: bash scripts/check.sh
